<div class="row">
    <div class="col-sm-12 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
    <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
        {{f.value | json }}
        {{addNewModel | json }}
        {{f.form.invalid}}

        <div class="form-group">
                <input type="text" required [(ngModel)]="addNewModel.Task"  name="Task" class="form-control" placeholder="Enter your to do task" aria-describedby="basic-addon2">
                <button [disabled]="f.form.invalid" type="submit" class="btn btn-primary btn-sm" id="basic-addon2">Add</button>
        </div>
    </form>
    </div>
    <div class="col-sm-12 col-md-3"></div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-offset-3 col-md-6">
        <ul>
            <li *ngFor="let task of records">{{task.Task}}</li>
        </ul>
    </div>
</div>